<div>
<footer role="contentinfo" class="footer region region-footer">
   <div class="block block-views footer-logo contextual-links-region first odd" id="block-views-image-blocks-block-1">
      <div class="block-inner-wrapper">
         <div class="content">
            <div class="view view-image-blocks view-id-image_blocks view-display-id-block_1 view-dom-id-bf1b2a0a87f9f019c257d4bf5b97aa45">
               <div class="view-content">
                  <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                     <div class="field field-name-field-image-block field-type-image field-label-hidden">
                        <div class="field-items">
                           <div class="field-item even"><img width="130" height="34" alt="" src="http://discoverygarden-vsphere-saas.local/sites/default/files/dgi-footer-logo.png" typeof="foaf:Image"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div role="navigation" class="block block-menu contextual-links-region even" id="block-menu-menu-footer-menu">
      <div class="block-inner-wrapper">
         <div class="content">
            <ul class="menu">
               <li class="menu__item is-leaf first leaf"><a class="menu__link" href="{{pagelink}}">Creative content license</a></li>
               <li class="menu__item is-leaf leaf"><a class="menu__link" href="{{pagelink}}">Researchers</a></li>
               <li class="menu__item is-leaf leaf"><a class="menu__link" href="{{pagelink}}">Policies</a></li>
               <li class="menu__item is-leaf leaf"><a class="menu__link" href="{{pagelink}}">Make contact</a></li>
               <li class="menu__item is-leaf last leaf"><a class="menu__link" title="" href="{{pagelink}}">Logout</a></li>
            </ul>
         </div>
      </div>
   </div>   
   <div class="block block-widgets contextual-links-region last odd" id="block-widgets-s-socialmedia-share-default">
      <div class="block-inner-wrapper">
         <div class="content">
            <div class="widgets widgets-set widgets-set-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_share-default">
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-twitter-share-button"><a target="_blank" title="Tweet this" href="{{pagelink}}"><img alt="Twitter icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/twitter.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-facebook-share-button"><a target="_blank" title="Visit [socialmedia:sm-facebook_username] on Facebook" href="{{pagelink}}"><img alt="Facebook icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/facebook.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-google-share-button"><a target="_blank" title="Bookmark on Google" href="{{pagelink}}"><img alt="Google icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/google.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-stumbleupon-share-button"><a target="_blank" title="Stumble this on StumbleUpon" href="{{pagelink}}"><img alt="StumbleUpon icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/stumbleupon.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-delicious-share-button"><a target="_blank" title="Bookmark on Del.icio.us" href="{{pagelink}}"><img alt="Del.icio.us icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/delicious.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-digg-share-button"><a target="_blank" title="Post to Digg" href="{{pagelink}}"><img alt="Digg icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/digg.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-linkedin-share-button"><a target="_blank" title="Share on LinkedIn" href="{{pagelink}}"><img alt="LinkedIn icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/linkedin.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-myspace-share-button"><a target="_blank" title="Share on MySpace" href="{{pagelink}}"><img alt="MySpace icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/myspace.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-newsvine-share-button"><a target="_blank" title="Post on Newsvine" href="{{pagelink}}"><img alt="Newsvine icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/newsvine.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-pinterest-share-button"><a target="_blank" title="Pin It" href="{{pagelink}}"><img alt="Pinterest icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/pinterest.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-reddit-share-button"><a target="_blank" title="Post to Reddit" href="{{pagelink}}"><img alt="Reddit icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/reddit.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-technorati-share-button"><a target="_blank" title="Favorite on Technorati" href="{{pagelink}}"><img alt="Technorati icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/technorati.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-yahoo-share-button"><a target="_blank" title="Bookmark on Yahoo!" href="{{pagelink}}"><img alt="Yahoo! icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/yahoo.png"></a></div>
               <div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_addthis-email"><a ?]="" class="addthis_button_email at300b" target="_blank" title="Email" href="{{pagelink}}"><img alt="e-mail icon" src="/sites/all/modules/socialmedia/icons/levelten/glossy/32x32/email.png"></a></div>
               <div class="widgets-clear"></div>
            </div>
         </div>
      </div>
   </div>
</footer>
</div>
