<div class="clearfix">
  <div class="featured-collections">
   <div class="block-inner-wrapper">
      <h2 class="block__title">Featured Collections</h2>
      <div class="content">
         <div>
            <div>
               <div class="views-row">
                 <div>
                    <span>
                      <a href="{{pagelink}}">
                        <img src="kss-assets/sample_thumb.jpg">
                      </a>
                    </span>  
                 </div>
                 <div>      
                   <span class="field-content"><a href="{{pagelink}}">Greek Church:</a>
                   </span>
                 </div>
                 <div>
                   <span>View of the Empire State Building from Top of the Rock</span>  
                 </div>
               </div>
               <div class="views-row">
                 <div>
                    <span>
                      <a href="{{pagelink}}">
                        <img src="kss-assets/sample_thumb_bridge.jpg">
                      </a>
                    </span>  
                 </div>
                 <div>
                   <span>
                     <a href="{{pagelink}}">Greek Church:</a>
                   </span>
                 </div>
                 <div>
                   <span>London's Tower Bridge at night.</span>  
                 </div>
               </div>
               <div class="views-row">
                 <div>
                    <span>
                      <a href="{{pagelink}}">
                        <img src="kss-assets/sample_thumb_church.jpg">
                      </a>
                    </span>  
                 </div>
                 <div>
                   <span>
                     <a href="{{pagelink}}">Greek Church:</a>
                   </span>
                 </div>
                 <div>
                   <span>A Greek Orthodox church in Agios Georgios, Cyprus.</span>  
                 </div>
               </div>
               <div class="views-row">
                 <div>
                    <span>
                      <a href="{{pagelink}}">
                        <img src="kss-assets/sample_thumb_strings.jpg">
                      </a>
                    </span>
                 </div>
                 <div>
                   <span>
                     <a href="{{pagelink}}">Greek Church:</a>
                   </span>
                 </div>
                 <div>
                   <span>Detail of the suspension portion of a bridge.</span>  
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  </div>
</div>
