
<div class="islandora islandora-basic-collection">
  <div class="islandora-basic-collection-grid clearfix">
    <dl class="islandora-basic-collection-object islandora-audio-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Audio Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Audio Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-sp-basic-image-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Basic Image Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Basic Image Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-binary-object-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Binary Object Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Binary Object Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-bookcollection">
      <dt class="islandora-basic-collection-thumb"><a title="Book Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Book Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object ir-citationcollection">
      <dt class="islandora-basic-collection-thumb"><a title="Citations" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Citations" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-compound-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Compound Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Compound Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-sp-document-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Document Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Document Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-entity-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Entity Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Entity Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-featured-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Featured Objects" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Featured Objects" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-sp-large-image-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Large Image Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Large Image Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-manuscriptcollection">
      <dt class="islandora-basic-collection-thumb"><a title="Manuscript Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Manuscript Collection" href="#">{{title}}</a></dd>
    </dl>
    <dl class="islandora-basic-collection-object islandora-newspaper-collection">
      <dt class="islandora-basic-collection-thumb"><a title="Newspaper Collection" href="#"><img alt="" src="{{thumb_url}}" typeof="foaf:Image"></a></dt>
      <dd class="islandora-basic-collection-caption"><a title="Newspaper Collection" href="#">{{title}}</a></dd>
    </dl>
  </div>
</div>